h1{
    font-size: 22px;
}
body{
    background-color: #0984e3;
}

.content{
    background-color: aliceblue;
    color: black;
    border: 2px solid white;
    margin: 10px 20px;
    border-radius: 10px;
}
audio{
    width: 250px;
}

li{
    list-style: none;
}
ul{
    /* border: 2px solid black; */
    text-align: center;
    margin: 5px auto
}

ul li{
    padding: 3px 0;
    border: 1px solid black;
    margin: 4px 30px 0 0;
    border-radius: 10px;
    
}

i{
    margin-right: 20px;
    color: aliceblue;
}

.wrong{
    background-color: red;
    color: rgb(255, 255, 255);
}

.right{
    background-color: green;
    color: rgb(255, 255, 255);
}
.sound{
    display: flex
    ;
    align-items: center;
    justify-content: center;
}